<div class="card">
    <div class="card-body">
        <img class="rounded" [src]="product.images.at(0)?.url"/>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-row">
            <div class="flex-column">
                {{product.price}} <fa-icon [icon]="faHryvniaSign"></fa-icon>
            </div>
            <div class="flex-column ms-auto">
                <button><fa-icon [icon]="faCartArrowDown"></fa-icon></button>
            </div>
        </div>
    </div>
</div>