<div class="d-flex">
  <div class="flex-row">
    <div class="col-3">
      <app-category-navbar-layout-component></app-category-navbar-layout-component>
    </div>
    <div class="col-9">
      <app-home-carousel-component></app-home-carousel-component>
    </div>
  </div>
  <div class="flex-row">
    <app-viewed-products-component></app-viewed-products-component>
  </div>
  <div class="flex-row"> <!-- TODO create recomendation algorythms -->
    <app-product-recomendations-component></app-product-recomendations-component>
  </div>
</div>
