:host {
  flex: 1 1 auto;
  display: flex;
}

::placeholder{
  padding-left: 1rem;
}


.search-form{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper input{
  width: 100%;
}

.wrapper button{
  aspect-ratio: 1;
  position: absolute;
  right: 0;

  height: 80%;
  transform: translateX(-10%);
  top: 10%;
}