<ul class="navbar-nav align-items-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="compare">
            <fa-icon [icon]="faBalanceScale"> </fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="favorite">
            <fa-icon [icon]="faHeart"></fa-icon>
        </a>
    </li>
    @if(!authenticated){
        <li class="nav-item">
            <app-login-link-component (click)="login()"> </app-login-link-component>
        </li>
        <li class="nav-item">
            <app-register-link-component (click)="register()"> </app-register-link-component>
        </li>
    }
    @if(authenticated){
        <li class="nav-link">
            <app-profile-link-component> </app-profile-link-component>
        </li>
        <li class="nav-link">
            <app-logout-link-component (click)="logout()"> </app-logout-link-component>
        </li>
    }
</ul>
